<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss.SSS} [%level{length=1}|%logger{0}] %msg%n"/>
    </Console>
    <Async name="AsyncConsole">
        <AppenderRef ref="Console"/>
    </Async>
</Appenders>
<Loggers>
    <Logger name="com.inomera.my.hzcluster" level="DEBUG" additivity="false">
        <AppenderRef ref="AsyncConsole"/>
    </Logger>
    <Root level="INFO">
        <AppenderRef ref="AsyncConsole"/>
    </Root>
</Loggers>
</Configuration>
